<nav class="navbar navbar-expand-lg navbar-inverse">
<div class="container-fluid">
  <a class="navbar-brand" href="/clerks">Cafeteria</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/clerks">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav" style="float:right;">
                <li class="nav-item">
                    <a class="nav-link" href="/clerks/pending_orders">Pending Orders</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/customers">Place Order</a>
                </li>

                <li class="nav-item">
                    <%= link_to "Sign-out", destroy_session_path, method: "delete", class: "nav-link"%>
                </li>
            </ul>
        </div>
  </div>
</nav>


<section class="dashboard-tiles">
  <div class="card-deck-wrapper">
    <div class="card-deck">


      <div class="card p-2  border-dark mb-3">
        <a class="card-block stretched-link text-decoration-none" href="/customers">
            <h4 class="card-title">Place Order</h4>
              <p class="card-text"><small class="text-muted"> New order for walk-in customer</small></p>
        </a>
      </div>

      <div class="card p-2  border-dark mb-3">
        <a class="card-block stretched-link text-decoration-none" href="/clerks/pending_orders">
            <h4 class="card-title">Pending Orders</h4>
            <p class="card-text">
            <small class="text-muted">Deliver the pending orders</small>
            </p>
        </a>
      </div>

    </div>
  </div>
</section>
