<%= render partial: "navbar-section" %>
<section class="dashboard-tiles">
  <div class="card-deck-wrapper">
    <div class="card-deck">


      <div class="card p-2  border-dark mb-3">
        <a class="card-block stretched-link text-decoration-none" href="/customers">
            <h4 class="card-title">Place Order</h4>
              <p class="card-text"><small class="text-muted"> New order for walk-in customer</small></p>
        </a>
      </div>

      <div class="card p-2  border-dark mb-3">
        <a class="card-block stretched-link text-decoration-none" href="/clerks/pending_orders">
            <h4 class="card-title">Pending Orders</h4>
            <p class="card-text">
            <small class="text-muted">Deliver the pending orders</small>
            </p>
        </a>
      </div>

    </div>
  </div>
</section>
