<div class="order-type-sections">
  <%= render partial: "invoice-section", locals:{ section_title: "Pending Orders",
                                                  orders: @orders.pending}
                                                  %>
</div>
