<%= render partial: "navbar-section" %>
<div class="div-main" style="max-width:860px">
<div class="bg-text" style="text-align:left;">
<section class="dashboard-tiles">
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <div class="card p-2  border-dark mb-3">
        <a class="card-block stretched-link text-decoration-none" href="/menus">
            <h4 class="card-title">Menus</h4>
              <p class="card-text"><small class="text-muted"> > Edit menu
                               <br> > change active menu  </small></p>

        </a>
      </div>

      <div class="card p-2  border-dark mb-3">
        <a class="card-block stretched-link text-decoration-none" href="/records">
            <h4 class="card-title">Records</h4>
              <p class="card-text"><small class="text-muted">> View previous orders</small></p>
        </a>
      </div>

    </div>
</div>

 <div class="card-deck-wrapper">

    <div class="card-deck">

      <div class="card p-2  border-dark mb-3">
        <a class="card-block stretched-link text-decoration-none" href="/pending_orders">
            <h4 class="card-title">Pending Orders</h4>
            <p class="card-text"><small class="text-muted">> Deliver the pending orders</small></p>
        </a>
      </div>


      <div class="card p-2  border-dark mb-3">
          <a class="card-block stretched-link text-decoration-none" href="/editusers">
              <h4 class="card-title">Add/Remove Users</h4>
              <p class="card-text"><small class="text-muted">> Add Clerks<br>> Add Admin<br>> Add a new customer</small></p>
          </a>
        </div>

    </div>

  </div>
</section>
</div>
</div>
