<div class="order-type-sections">
  <%= render partial: "invoice-section", locals:{ section_title: "Invoice",
                                                  orders: @order}
                                                  %>
</div>
