<%= render partial: "navbar-section" %>

<div class="div-main">
  <div class="order-type-sections">
    <%= render partial: "invoice-section", locals:{ section_title: "Invoice",
                                                    orders: @order}
                                                    %>
  </div>
</div>
