<%= render partial: "/customers/navbar-section" %>

<div class="div-main">
  <div class="order-type-sections">
    <%= render partial: "receipt-section", locals:{ section_title: "Pending Orders",
                                                    orders: @orders.pending,
                                                    user: @user} %>
  </div>

  <div class="order-type-sections">
    <%= render partial: "receipt-section", locals:{section_title: "Delivered Orders",
                                                    orders: @orders.delivered,
                                                    user: @user} %>
  </div>
</div>
