.quantity{
  display: flex;
  padding: 2px 8px;

}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  margin-top: 0px;
}

.cart-btn{
  width: 24px;
  height: 24px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
button:focus,
input:focus {
  outline:0;
}

.sub-total {
  margin-left: 50px;
}

.item-details{
  display: flex;
  padding: 2px 8px;
}

.item-price{
  margin-top: 5px;

}

.card-deck{
  margin-bottom: 5px;
}
