.NewUser-title{
  font-size: 30px;
  color: aliceblue;

  margin-bottom: 40px;
}
.Form-section{
  margin-bottom: 20px;
}

.FormInput-label{
  color: aliceblue;
  font-size: 18px;
  padding: 8px;

}

.Form-input{
  font-size: 20px;
  padding:8px;
  border: 1px solid;
  border-color: white;
  border-radius: 4px;
}

.Form-submit{
  font-size: 18px;
  color: white;
  background-color: #269956;
  border: 1px solid transparent;
  padding: 6px 22px;
  border-radius: 2px;
}

.Form-submit:hover {
  padding: 6px 22px;
  font-size: 18px;
  color: white;
  background-color: #30ad64;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}
